html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: Roboto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

footer {
  background-color: gainsboro;
  width: 100%;
  height: 50px;
  padding-left: 40px;
  overflow: hidden;
}

footer ul {
  list-style: none;
  overflow: hidden;
  float: left;
}
footer li {
  float: left;
  padding: 15px 10px;
}

li a  {
  color: #003569;
  text-decoration: none;
}

.marca-registrada {
  float: right;
    margin-right: 75px;
    margin-top: 15px;
    color: grey;
}

.principal {
  float: left;
  width: 30%;
}

.principal1 {
  margin-left: 20%;
}
.principal2 {
  margin-right: 20%;
}

.principal1 img{
  width: 100%;
  margin-top: 40px;
}
section {
  overflow: hidden;
  background-color: gainsboro;
}
div.formulario {
  background-color: white;
  margin-top: 20px;
  border: grey 1px solid;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 50px;
}
div.formulario img {
  width: 75%;
}
h3
{
  text-align: center;
}
