
@media (min-width:580px){
  .main-header{
      list-style: none;
      display: block;
      margin-bottom: 0.5%;
      padding-top: 2%;
      padding-bottom: 2%;
      text-align: center;



  }

.equipo .perfil


  .banner img{
    display: block;
    width: 98.858%;
    margin-bottom: 2vh;
    margin-top: 2vh;
  }

  .burguer{
    display: none;
  }

.main-nav li{
  background-color:  #f4bbd8;
  padding: 1%;
  float:left;
}



  article img{
    width: 98.858%;
    margin: auto;
  }

  article{
    width:49.15vw;
    float: left;
    margin: 0 auto;
  }

  .container{
    margin: 0 auto;

  }
.start{
  overflow: hidden;
}



@media (min-width:960px) {

	body{
		font-size: 1.5vw;
	}

  ul{
    width: 98.33vw;
    margin-bottom: 3vh;
    overflow: hidden;
  }

	.main-nav ul{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}



  li{
    float: left;
    width: 10%;
    height: 4.166vh;
  }
  .burguer{
    display: none;
  }

  article img{
    width: 98.33%;
    margin: auto;
  }

  article{
    width:32.35vw;
    float: left;
    margin: 0.21vw;
		margin-bottom: 4vh;

  }
  .quienes{
  display: none;

  }

  .que{
    display: none;

  }

  .container{
    margin: 0 auto;


  }

  li{
    list-style: none;
    display: block;
    margin-bottom: 0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;

  }

  #footerid li{
    list-style: none;
    display:inline;
    margin-bottom: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    margin: auto;

  }

  #footerliquid li{
    list-style: none;
    display:block;
    margin-bottom: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    margin: auto;

  }
footer{
  overflow: hidden;
}

.main-footer{
  background-color:  #f4bbd8;
}

.main-footer ul{
	display: flex;
	justify-content: center;
}

.second-footer{



}

}
