html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Roboto;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


}

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  5% {
    clip: rect(76px, 9999px, 94px, 0);
  }
  10% {
    clip: rect(59px, 9999px, 16px, 0);
  }
  15% {
    clip: rect(43px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(93px, 9999px, 87px, 0);
  }
  25% {
    clip: rect(88px, 9999px, 1px, 0);
  }
  30% {
    clip: rect(99px, 9999px, 93px, 0);
  }
  35% {
    clip: rect(80px, 9999px, 63px, 0);
  }
  40% {
    clip: rect(84px, 9999px, 89px, 0);
  }
  45% {
    clip: rect(77px, 9999px, 81px, 0);
  }
  50% {
    clip: rect(55px, 9999px, 58px, 0);
  }
  55% {
    clip: rect(46px, 9999px, 79px, 0);
  }
  60% {
    clip: rect(48px, 9999px, 69px, 0);
  }
  65% {
    clip: rect(36px, 9999px, 47px, 0);
  }
  70% {
    clip: rect(7px, 9999px, 47px, 0);
  }
  75% {
    clip: rect(1px, 9999px, 15px, 0);
  }
  80% {
    clip: rect(76px, 9999px, 23px, 0);
  }
  85% {
    clip: rect(94px, 9999px, 17px, 0);
  }
  90% {
    clip: rect(19px, 9999px, 12px, 0);
  }
  95% {
    clip: rect(81px, 9999px, 52px, 0);
  }
  100% {
    clip: rect(24px, 9999px, 52px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(26px, 9999px, 48px, 0);
  }
  5% {
    clip: rect(42px, 9999px, 86px, 0);
  }
  10% {
    clip: rect(87px, 9999px, 1px, 0);
  }
  15% {
    clip: rect(17px, 9999px, 4px, 0);
  }
  20% {
    clip: rect(60px, 9999px, 82px, 0);
  }
  25% {
    clip: rect(51px, 9999px, 9px, 0);
  }
  30% {
    clip: rect(45px, 9999px, 65px, 0);
  }
  35% {
    clip: rect(29px, 9999px, 46px, 0);
  }
  40% {
    clip: rect(67px, 9999px, 14px, 0);
  }
  45% {
    clip: rect(87px, 9999px, 23px, 0);
  }
  50% {
    clip: rect(15px, 9999px, 96px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 80px, 0);
  }
  60% {
    clip: rect(74px, 9999px, 45px, 0);
  }
  65% {
    clip: rect(36px, 9999px, 24px, 0);
  }
  70% {
    clip: rect(19px, 9999px, 90px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 28px, 0);
  }
  80% {
    clip: rect(4px, 9999px, 97px, 0);
  }
  85% {
    clip: rect(1px, 9999px, 55px, 0);
  }
  90% {
    clip: rect(63px, 9999px, 5px, 0);
  }
  95% {
    clip: rect(94px, 9999px, 94px, 0);
  }
  100% {
    clip: rect(3px, 9999px, 7px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}


header{
  font-size: 7vw;
  text-align: center;
  margin: 5vw 20vw;
	color: white;



}



#forgot{
	text-align: center;
	color: #fed136;
	text-decoration: none;

}

body{

display: block;
width: 100%;
background-color: #282828;

}
input{
	color: black;
}
#presentacionDeEscritorio{

display: none;
color: #ec7a2c;

}

label{
	display: none;
}
div.imagen-logo{

display: block;
margin-left: auto;
margin-right: auto;
width: 40vw;
margin-bottom: 3vw;
}
div.imagen-logo img{

border-radius: 50%;
width: 100%;

}
div.imagen-logo{
	width: 28vw;
}


section.formulario{

overflow: hidden;
margin-left: auto;
margin-right: auto;
background-color: #black;
border: 3px solid ;
border-radius: 15px;
width: 75%;
box-shadow: 0 1px 1px rgba(0,0,0,.05);


}

div.registrate{
	background-color: #ec7a2c;
	    text-align: left;
	    padding-left: 4vw;
	    padding-top: 1vw;
	    border: 2px solid;
	    font-size: 8.5vw;
	    padding-bottom: 2vw;


}

.cuerpo{

padding: 3vw;

}

.campo{


font-size: 6vw;


}

.cuadros:focus{
	color: #ec7a2c;
}

input{

	display: block;
	width: 100%;
	height: 15vw;
	font-size: 5vw;
	line-height: 1.428571429;
	color: black;
	background-image: none;
	border: 1px solid #ec7a2c;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(254,209,54,.075);
	margin-bottom: 5vw;
	margin-top: 5vw;
	border-color: #ec7a2c;
	background-color: #e1e1e1;
}

input:focus{
border-color: #ec7a2c;
background-color: #fafafa;

}
.cuerpo{
background-color: #fff;

}
.formulario{
	background-color: #fff;
}
.enviar{

margin-left: 1vw;
text-align: center;


}
a{text-decoration: none;}

.cuerpo button{

	text-align: center;
	    font-size: 100%;
	    border: 1px solid;
	    border-radius: 3px;
	    width: 40%;
	    margin-left: 3%;
	    border-color: #ec7a2c;
			 cursor: pointer;
}

#forgot .forgot{
	text-align: center;
	color: #fed136;
	text-decoration: none;

}

.mandale{

	margin-left: auto;
margin-right: auto;
background-color: #fed136;
border: 3px solid;
border-radius: 4px;
width: 70%;
background-color: #d3e2ff;



}
.red{display: block;
width: 100%;
}
.red img{

	width: 90%;
}
#tenerunacuenta{
	background-color: transparent;
	color: black;
	text-align: center;
}



#forgot{
text-decoration: none;
color: #ec7a2c;
background-color: transparent;
font-size: 12px;
letter-spacing: 1px;
font-weight: 600;
}
#forgot:hover{

	color: #ec7a2c;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;


}

#iniciar{
text-decoration: none;
color: #ec7a2c;
background-color: transparent;
color: black;
}
#iniciar:hover{

	color: springgreen;


}
	.redes-sociales{

		width: 100;
		text-align: center;


	}
@media (min-width:740px){

	div.registrate{
		font-size: 1.5vw;
padding-left: 0vw;
padding: 0.5vw 0.5vw;
text-align: center;

text-align: center;
	}

header{
	display: none;

}

div.imagen-logo{
	display: none;
}
	.cuerpo{

		padding: 1vw;
		margin-left: 1vw;

	}
	div.campo{
		overflow: hidden;
	}
	label{
		font-size:1.5vw;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
		height: 50px;
	}
	input {
		font-size: 1vw;
    height: 1.5vw;
    width: 90%;
    border: 2px solid #f5f5f5;
    margin-top: 0.5vw;
    float: left;
    margin-bottom: 0.5vw;
		height: 4vh;
		background: #f5f5f5;
		border-radius: 4px;

}
input:focus{
border: 1px solid #ec7a2c;
color: #ec7a2c;
border-radius: 4px;

}


body{
	margin-bottom: 8vh;

}


#presentacionDeEscritorio{

	display: block;
overflow: hidden;
margin: 14vw 8vw;
float: left;
width: 35%;
height: 30vw;
text-align: center;

}


#presentacionDeEscritorio div{

color: #ec7a2c;
font-size: 7vw;


}
#presentacionDeEscritorio img{


	display: block;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vw;

}

section{
	width: 85%;
}
	section.formulario{


		overflow: hidden;
margin-left: auto;
margin-right: auto;
margin-top: 4vh;
background-color: #fff;
margin	-top: 10vw;
border: 1px white solid;
border-radius: 3px;
width: 40%;
box-shadow: 0 1px 1px rgba(0,0,0,.05);

	}

.enviar{

text-align: center;
width: 80%;
margin-right: auto;
margin-left: auto;

}

	.cuerpo button{
		font-size: 2.5vw;
    border: 1.5px solid;
    border-radius: 3px;
    width: 45%;
    margin-left: auto;
		margin-right: auto;
		font-weight: bold;
		margin-top: 1vw;
    margin-bottom: 1vw;
		width: 80%;
		background: #ec7a2c;
		margin-top: 25px;
		color: #fff;
		cursor: pointer;
	}
	.mandale{
		margin-right: auto;
    margin-left: auto;
    background-color: #	;
    border: 0.5px solid;
    border-radius: 4px;
    width: 80%;
    background-color: ;
    text-align: center;
    padding-left: 1vw;
    font-size: small;
    padding: 0.7vw;
    margin-bottom: 1vw;
	}
	header{
		    margin: 0.5vw 12vw;
				font-size: 1.5vw;
	}
	.imagen-logo{
		width: 70%;
		margin-left: 70px;
	}
	div.imagen-logo img{
		margin-bottom: 1vw;
	}

	.redes-sociales{

width: 65%;
overflow: hidden;
margin-left: 7vw;



	}

	.red{
margin-top: 2vh;
margin-bottom: 2vh;

	}

	.red img{
		width: 100%;


	}


}

#forgot.forgot{
	text-align: center;
	color: #fed136;
	text-decoration: none;

}
